<mat-sidenav-container fxLayout="row" fxFlexFill>

  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" closed mode="over">
    <mat-toolbar color="primary">
      Menu
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item>Home</a>
      <a mat-list-item [routerLink] = "['/patients/patientsList']" routerLinkActive="primary">Patient list</a>
      <a mat-list-item>Examination list</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content fxFlexFill fxLayout="column">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
